.card-container {
    margin-top: 120px;
}

.loading-div {
    position: relative;
    top: 50%;
}

.loading-head {
    height: 100vh;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}

.product-image {
  width: 100%;
  transition: .5s all ease-in-out
}

.product-image:hover {
  transform: scale(1.2);
}

.card-content {
  margin-bottom: 50px;
  
}

.card-image {
  overflow: hidden;
  border-bottom: 1px dashed lightgray;
  height: 350px;
  object-fit: contain;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
}

.card-title {
  color: black;
}

.product-link:hover {
  text-decoration: none;
}

.product-name {
  height: 100px;
}

.product-chinese-name {
  height: 30px;
}


@media (max-width:576px){
  .product-name {
    height: 50px;
  }
}

@media (max-width:376px){
  .product-name {
    height: 70px;
  }
}

@media (max-width: 2560px) and (min-width:2000px){
  .card-image {
    height: 600px;
  }
}

@media (max-width: 1440px){
  .card-image {
    height: 330px;
  }
}

@media (max-width: 1024px){
  .card-image {
    height: 220px;
  }
}

@media (max-width: 426px){
  .card-image {
    height: 380px;
  }
}

@media (max-width: 376px){
  .card-image {
    height: 340px;
  }
}

@media (max-width: 320px){
  .card-image {
    height: 285px;
  }
}